:root {
  --brand-icon-font: 'Poppins', cursive;
  --heading-font: 'Playfair Display', serif;
  --monospace-font: 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'Roboto Mono', monospace;
  --body-default-font: 'Roboto', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --heading-line-height: 1.5;
  --paragraph-line-height: 1.75;
  --app-bar-font-size: 1.125rem;
}
