:root {
  --spacing-max: 2.5rem;            //  40px
  --spacing-xxx-large: 2.25rem;     //  36px
  --spacing-xx-large: 2rem;         //  32px
  --spacing-x-large: 1.75rem;       //  28px
  --spacing-large: 1.5rem;          //  24px
  --spacing-medium: 1.25rem;        //  20px
  --spacing-standard: 1rem;         //  16px
  --spacing-milli: 0.75rem;         //  12px
  --spacing-micro: 0.5rem;          //  8px
  --spacing-nano: 0.25rem;          //  4px
  --spacing-double: 2px;            //  2px
  --spacing-single: 1px;            //  1px
  --spacing-zero: 0;
  --section-overline-size: 3.25rem; //  52px
  --bottom-nav-height: 3.5rem;      //  56px
  --top-nav-size: 3.5rem;           //  56px
  --huge-icon-size: 4rem;           //  64px
}
