.primary-button {
  background-color: var(--primary-color);
  color: var(--primary-button-text-color);

  &:hover,
  &:focus {
    background-color: var(--primary-color-light);
  }

  &:active {
    background-color: var(--primary-color);
  }
}

.secondary-button {
  background-color: var(--secondary-color);
  color: var(--secondary-button-text-color);

  &:hover,
  &:focus {
    background-color: var(--secondary-color-light);
  }

  &:active {
    background-color: var(--secondary-color);
  }
}

