$animation-duration: 250ms;
$animation-style: cubic-bezier(.55, 0, .1, 1);
$shift-length: 100px;
$recoil-length: 20px;

.slide-left-enter {
  transform: translateX($shift-length);
}

.slide-left-leave-active {
  transform: translateX(-$recoil-length);
}

.slide-left-enter-to,
.slide-left-enter,
.slide-left-enter-active,
.slide-left-leave-to,
.slide-left-leave,
.slide-left-leave-active {
  transition: all $animation-duration $animation-style !important;

  @media (prefers-reduced-motion) {
    transition: unset !important;
  }
}

.slide-left-enter, .slide-left-leave-active {
  opacity: 0;
}
