@import "assets/variables";
@import "assets/defaults";
@import "assets/buttons";
@import "assets/transitions";

* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;

  &:active {
    outline: none;
    border: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @media (prefers-reduced-motion) {
    transition: unset !important;
  }
}
